# Gradle
.gradle/
build/
!gradle-wrapper.jar

# Android
*.apk
*.aab
*.ap_)
*.dex
local.properties
captures/
.cxx/

# IntelliJ / Android Studio
*.iml
.idea/
.gradle/
.DS_Store

# Minecraft Mod
run/
*.class

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Native
*.so
!jniLibs/**/*.so

# JRE
jre/
